body {
  padding-top: 50px;
  height: 100%;
  width: 100%;
  background-color: rgb(213, 213, 213);
}
#mapDiv {
  min-height: 50px;
  height: 750px;
}
.container.main {
  padding-bottom: 20px;
}
.noPadding {
  padding: 0px;
}
.coords {
  position: absolute;
  top: 90%;
  left: 2%;
  width: 330px;
  color: #fff;
  z-index: 2;
}
#MouseText {
  border-width: 2px;
  border-style: solid;
  border-color: #333;
}
#search {
  display: block;
  position: absolute;
  z-index: 2;
  top: 2%;
  left: 8%;
}
